flow.json
[{"id":"4418d05b.edd888","type":"tab","label":"fullstack(nod used)","disabled":true,"info":""},{"id":"3fed333e.7a9f5c","type":"tab","label":"to influxdb","disabled":false,"info":""},{"id":"cf1e90fc.b7dac","type":"subflow","name":"app common","info":"","in":[{"x":580,"y":320,"wires":[{"id":"f926e9b7.1c6ee8"}]}],"out":[{"x":1160,"y":360,"wires":[{"id":"5b1c70e8.d1389","port":0}]}]},{"id":"5f8e2e0f.f685a","type":"subflow","name":"parse LoraWANserverJSON","info":"","in":[{"x":80,"y":500,"wires":[{"id":"7300223c.c877cc"}]}],"out":[{"x":680,"y":400,"wires":[{"id":"b48d59f1.73db38","port":0}]}]},{"id":"9efb98f8.b849d","type":"subflow","name":"app IMST","info":"Parser para el puerto fport2 de los MoteII aplicación Sensors GPS Demo.","in":[{"x":99,"y":334,"wires":[{"id":"ac5c271b.dbef48"}]}],"out":[{"x":792.9999694824219,"y":355,"wires":[{"id":"da22de8f.a5c138","port":0}]}]},{"id":"917e1867.f0f93","type":"subflow","name":"parseLoraWanJSON","info":"","in":[{"x":100,"y":320,"wires":[{"id":"a3557105.b396b"}]}],"out":[{"x":626,"y":290,"wires":[{"id":"7ef28175.0b3bb8","port":0}]}]},{"id":"48e7b729.a50a58","type":"telegram bot","z":"","botname":"@gitud_bot","usernames":"@gitud_bot","chatids":""},{"id":"15ec0379.4b30ed","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":true},{"id":"a710b33.16358d","type":"mqtt-broker","z":null,"name":"","broker":"glud.udistrital.edu.co","port":"8883","tls":"15ec0379.4b30ed","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"3689e001.5fbb88","type":"mqtt-broker","z":"","name":"","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"8a53f070.37f41","type":"template","z":"4418d05b.edd888","name":"influxdb","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.eui}} a=0{{#payload.light}},light={{.}}{{/payload.light}}{{#payload.moisture}},moisture={{.}}{{/payload.moisture}}{{#payload.temperature}},temp={{.}}{{/payload.temperature}}{{#payload.x_acc}},x_acc={{.}}{{/payload.x_acc}}{{#payload.y_acc}},y_acc={{.}}{{/payload.y_acc}}{{#payload.z_acc}},z_acc={{.}}{{/payload.z_acc}}{{#payload.co2}},co2={{.}}{{/payload.co2}}{{#payload.latitude}},latitude={{.}}{{/payload.latitude}}{{#payload.longitude}},longitude={{.}}{{/payload.longitude}}","x":827.9999694824219,"y":400,"wires":[["c59f4d8f.959b88","1c8f05da.5d7b92"]]},{"id":"55e2baf8.e83f4c","type":"mqtt in","z":"4418d05b.edd888","name":"mbox","topic":"application/1/node/+/rx","qos":"0","broker":"3689e001.5fbb88","x":73,"y":497.33331298828125,"wires":[["5015e72.6856a98"]]},{"id":"7300223c.c877cc","type":"json","z":"5f8e2e0f.f685a","name":"","pretty":false,"x":210,"y":500,"wires":[["8c11c8c2.673978"]]},{"id":"8c11c8c2.673978","type":"change","z":"5f8e2e0f.f685a","name":"y","rules":[{"t":"set","p":"data","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"eui","pt":"msg","to":"msg.payload.devEUI","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"msg.payload.data","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":440,"wires":[["b48d59f1.73db38"]]},{"id":"b48d59f1.73db38","type":"base64","z":"5f8e2e0f.f685a","name":"","x":540,"y":400,"wires":[[]]},{"id":"c59f4d8f.959b88","type":"http request","z":"4418d05b.edd888","name":"","method":"POST","ret":"bin","url":"http://10.20.161.95:8086/write?db=loraSensors","tls":"","x":1010.9999694824219,"y":446,"wires":[["b4ee318.9739ad"]]},{"id":"b4ee318.9739ad","type":"debug","z":"4418d05b.edd888","name":"","active":false,"console":"false","complete":"payload","x":1190.9999694824219,"y":386,"wires":[]},{"id":"5b1c70e8.d1389","type":"function","z":"cf1e90fc.b7dac","name":"Post xDotEtc Data","func":"//var mac=context.global.evb_info.macAddress;\nmsg.payload={\n    timestamp: msg.timestamp,\n    nanot: (new Date(msg.timestamp)).getTime() * 1E6,\n    eui: msg.eui,\n   // d: {\n    /*light: msg.evb_sensors.light.lux,\n    moisture:msg.evb.barometer.pa, \n    temperature:(msg.evb.temperature.c),\n    x_acc: msg.evb.accelerometer.x,    \n    y_acc: msg.evb.accelerometer.y,    \n    z_acc: msg.evb.accelerometer.z*/\n    //}\n}\n\nif (msg.evb.light !== undefined) {\n    msg.payload.light = msg.evb.light.lux;\n}\n\nif (msg.evb.co2 !== undefined) {\n    msg.payload.co2 = msg.evb.co2.ppm;\n}\n\nif (msg.evb.barometer !== undefined) {\n    msg.payload.moisture = msg.evb.barometer.pa;\n}\n\nif (msg.evb.temperature !== undefined) {\n    msg.payload.temperature = msg.evb.temperature.c;\n}\n\nif (msg.evb.accelerometer !== undefined) {\n    msg.payload.x_acc = msg.evb.accelerometer.x;\n    msg.payload.y_acc = msg.evb.accelerometer.y;\n    msg.payload.z_acc = msg.evb.accelerometer.z;\n\n}\n\n//if (context.global.evb_info[msg.eui].msg_counter == null){\n//    context.global.evb_info[msg.eui].msg_counter = 0;\n//}\n// iot-2/type/mosquitto/id/myDeviceId/evt/helloworld/fmt/json\n\n//msg.topic = \"iot-2/type/mosquitto/id/\" + \n//    mac + \n//    \"/evt/datapoint/\" + \n//    \"fmt/json\";\n\n//context.global.evb_info[msg.eui][\"msg_counter\"] += 1.0 ;\nreturn msg;\n","outputs":"1","noerr":0,"x":990,"y":360,"wires":[[]]},{"id":"f926e9b7.1c6ee8","type":"function","z":"cf1e90fc.b7dac","name":"Lora Payload Process","func":"/*\nif ( context.global.evb_info[msg.eui] == null) {\n  context.global.evb_info[msg.eui] = { msg_counter: 0 };\n  \n}*/\n/*\nvar evb_info = context.global.evb_info ;\n*/\nvar evb_sensors = {};\n\n/*\n * Evaluation board properties.\n */\nvar EVB_TYPE = {\n  none: 0,\n  //led_1: 1,\n  co2ppm: 1,\n  led_2: 2,\n  lux_max: 3,\n  lux_min: 4,\n  lux: 5,\n  barometer_max: 6,\n  barometer_min: 7,\n  barometer: 8,\n  temperature_max: 9,\n  temperature__min: 10,\n  temperature: 11,\n  accelerometer_max: 12,\n  accelerometer_min: 13,\n  accelerometer: 14,\n  tx_interval: 15,\n  amps_max: 16,\n  amps_min: 17,\n  amps: 18,\n  m2x_device: 19,\n  m2x_key: 20,\n};\n\n/*\n * Process the EVB LoRa payload.\n *\n * EVB payload contains one or more TLV fields.\n *\n * [<type: accelerometer><length: 6><x-high><x-low><y-high><y-low><z-high><z-low>]\n * [<type: barometer><length: 3><byte2><byte1><byte0>]\n * [<type: temperature><length: 2><byte-high><byte-low>]\n * \n */\nfor (var index = 0; index < msg.payload.length; ) {\n  var type = msg.payload[index++];\n//   var length = msg.payload[index++];\n  var value;\n  node.log(\"type: \" + type + \" length: \" );\n\n  switch (type) {\n  case EVB_TYPE.co2ppm:\n    if (typeof(evb_sensors.co2) == \"undefined\") {\n      evb_sensors.co2 = {};\n    }\n    value = msg.payload[index++] << 8;\n    value |= msg.payload[index++];\n    evb_sensors.co2.ppm = value;\n    \n    break;\n    \n  case EVB_TYPE.lux:\n    if (typeof(evb_sensors.light) == \"undefined\") {\n      evb_sensors.light = {};\n    }\n\n    value = msg.payload[index++] << 8;\n    value |= msg.payload[index++];\n    value = value * 0.24;\n\n    evb_sensors.light.lux = value;\n    break;\n  case EVB_TYPE.barometer:\n    if (typeof(evb_sensors.barometer) == \"undefined\") {\n      evb_sensors.barometer = {};\n    }\n\n    value = msg.payload[index++] << 16;\n    value |= msg.payload[index++] << 8;\n    value |= msg.payload[index++];\n    value = value * 0.00025;\n\n    evb_sensors.barometer.pa = value;\n    break;\n  case EVB_TYPE.accelerometer:\n    if (typeof(evb_sensors.accelerometer) == \"undefined\") {\n      evb_sensors.accelerometer = {};\n    }\n    // evb_sensors.accelerometer.x = (msg.payload[index++] << 24) >> 16;\n    var x1 = evb_sensors.accelerometer.x = msg.payload[index++] ;\n    // x1 = ~x1 ; \n    // x1 = ( x1 + 1 ) % 256; \n    evb_sensors.accelerometer.x = x1 * 0.0625//; / 15;\n    // evb_sensors.accelerometer.y = (msg.payload[index++] << 24) >> 16;\n    var y1 = evb_sensors.accelerometer.y = msg.payload[index++] ;\n    // y1 = ~ y1 ; \n    // y1 = ( y1 + 1 ) % 256;\n    \n    var y1 = evb_sensors.accelerometer.y = y1 * 0.0625 ; // / 15 ;\n\n    // evb_sensors.accelerometer.z = (msg.payload[index++] << 24) >> 16;\n    var z1 = evb_sensors.accelerometer.z = msg.payload[index++] ;\n    // z1 = ~ z1 ; \n    // z1 = ( z1 + 1 ) % 256; \n    // z1 = z1 - 128;\n    var z1 = evb_sensors.accelerometer.z = z1 * 0.0625; // / 15;\n    break;\n  case EVB_TYPE.temperature:\n    if (typeof(evb_sensors.temperature) == \"undefined\") {\n      evb_sensors.temperature = {};\n    }\n\n    value = (msg.payload[index++] << 24) >> 16;\n    value |= msg.payload[index++];\n    value = value * 0.0625;\n\n    evb_sensors.temperature.c = value;\n    break;\n  case EVB_TYPE.tx_interval:\n    evb_sensors.tx_timer = msg.payload[index++];\n    break;\n  case EVB_TYPE.m2x_device:\n    value = msg.payload.slice(index, index + length);\n    evb_info[msg.eui].m2x_device = \"\";\n    for (var j = 0; j < length; j++) {\n      evb_info[msg.eui].m2x_device += String.fromCharCode(value[j]);\n    }\n    break;\n  case EVB_TYPE.m2x_key:\n    value = msg.payload.slice(index, index + length);\n    evb_info[msg.eui].m2x_key = \"\";\n    for (var j = 0; j < length; j++) {\n      evb_info[msg.eui].m2x_key += String.fromCharCode(value[j]);\n    }\n    break;\n  default:\n    index += length;\n    break;\n  }\n}\n/*\nif (typeof(evb_info[msg.eui].m2x_device) == \"undefined\") {\n  console.log(\"No m2x_device registered for \" + msg.eui);\n//   return null;\n}\nif (typeof(evb_info[msg.eui].m2x_key) == \"undefined\") {\n  console.log(\"No m2x_key registered for \" + msg.eui);\n//   return null;\n}\nmsg.m2x_device = evb_info[msg.eui].m2x_device;\nmsg.m2x_key = evb_info[msg.eui].m2x_key;\n*/\nmsg.evb = evb_sensors;\n\n/*\n * Return msg to continue the flow\n */\nif (typeof msg.evb != \"undefined\"){\n  return msg;     \n}\n","outputs":1,"noerr":0,"x":760,"y":320,"wires":[["5b1c70e8.d1389"]]},{"id":"2359cb05.4ae4fc","type":"subflow:cf1e90fc.b7dac","z":"4418d05b.edd888","x":621,"y":471,"wires":[["8a53f070.37f41","7f2fc931.4df0b"]]},{"id":"5015e72.6856a98","type":"subflow:5f8e2e0f.f685a","z":"4418d05b.edd888","x":257,"y":529,"wires":[["634ce43a.809584","1a5536a4.874ac1"]]},{"id":"634ce43a.809584","type":"debug","z":"4418d05b.edd888","name":"","active":false,"console":"false","complete":"true","x":448.5000305175781,"y":582,"wires":[]},{"id":"1c8f05da.5d7b92","type":"debug","z":"4418d05b.edd888","name":"","active":true,"console":"false","complete":"false","x":1016.4999694824219,"y":359,"wires":[]},{"id":"da22de8f.a5c138","type":"function","z":"9efb98f8.b849d","name":"Post xDotEtc Data","func":"//var mac=context.global.evb_info.macAddress;\nmsg.payload={\n    timestamp: msg.timestamp,\n    nanot: (new Date(msg.timestamp)).getTime() * 1E6,\n    eui: msg.eui,\n   // d: {\n    /*light: msg.evb_sensors.light.lux,\n    moisture:msg.evb.barometer.pa, \n    temperature:(msg.evb.temperature.c),\n    x_acc: msg.evb.accelerometer.x,    \n    y_acc: msg.evb.accelerometer.y,    \n    z_acc: msg.evb.accelerometer.z*/\n    //}\n}\n\nif (msg.evb.barometer !== undefined) {\n    msg.payload.barometer = msg.evb.barometer.pa;\n}\n\nif (msg.evb.temperature !== undefined) {\n    msg.payload.temperature= msg.evb.temperature.c;\n}\n\nif (msg.evb.barometer.altitude !== undefined) {\n    msg.payload.altitude = msg.evb.barometer.altitude;\n}\n\nif (msg.evb.gps !== undefined) {\n    msg.payload.latitude = msg.evb.gps.latitude;\n    msg.payload.longitude = msg.evb.gps.longitude;\n}\n\nif (msg.evb.gps.altitude !== undefined) {\n    msg.evb.altitude = msg.evb.gps.altitude;\n}\n\n//if (context.global.evb_info[msg.eui].msg_counter == null){\n//    context.global.evb_info[msg.eui].msg_counter = 0;\n//}\n// iot-2/type/mosquitto/id/myDeviceId/evt/helloworld/fmt/json\n\n//msg.topic = \"iot-2/type/mosquitto/id/\" + \n//    mac + \n//    \"/evt/datapoint/\" + \n//    \"fmt/json\";\n\n//context.global.evb_info[msg.eui][\"msg_counter\"] += 1.0 ;\nreturn msg;\n","outputs":"1","noerr":0,"x":573.88330078125,"y":377.8833312988281,"wires":[[]]},{"id":"ac5c271b.dbef48","type":"function","z":"9efb98f8.b849d","name":"Lora Payload Process","func":"/*\nif ( context.global.evb_info[msg.eui] == null) {\n  context.global.evb_info[msg.eui] = { msg_counter: 0 };\n  \n}*/\n/*\nvar evb_info = context.global.evb_info ;\n*/\nvar evb_sensors = {};\n\n/*\n * Evaluation board properties.\n */\n \nvar EVB_TYPE = {\n  none: 0,\n  //led_1: 1,\n  co2ppm: 1,\n  led_2: 2,\n  lux_max: 3,\n  lux_min: 4,\n  lux: 5,\n  barometer_max: 6,\n  barometer_min: 7,\n  barometer: 8,\n  temperature_max: 9,\n  temperature__min: 10,\n  temperature: 11,\n  accelerometer_max: 12,\n  accelerometer_min: 13,\n  accelerometer: 14,\n  tx_interval: 15,\n  amps_max: 16,\n  amps_min: 17,\n  amps: 18,\n  m2x_device: 19,\n  m2x_key: 20,\n};\n\n/*\n * Process the EVB LoRa payload.\n *\n * EVB payload contains one or more TLV fields.\n *\n * [<type: accelerometer><length: 6><x-high><x-low><y-high><y-low><z-high><z-low>]\n * [<type: barometer><length: 3><byte2><byte1><byte0>]\n * [<type: temperature><length: 2><byte-high><byte-low>]\n * \n */\nvar value;\nvar index = 0;\n\nvalue = msg.payload[index++];\nevb_sensors.led = value;\n\nif (typeof(evb_sensors.barometer) == \"undefined\") {\n    evb_sensors.barometer = {};\n}\nvalue = msg.payload[index++] << 8;\nvalue |= msg.payload[index++];\nvalue *= 100;\nevb_sensors.barometer.pa = value;\n\n\nif (typeof(evb_sensors.temperature) == \"undefined\") {\n    evb_sensors.temperature = {};\n}\nvalue = (msg.payload[index++] << 24) >> 16;\nvalue |= msg.payload[index++];\nvalue *= 100;\nevb_sensors.temperature.c = value;\n\nif (typeof(evb_sensors.barometer.altitude) == \"undefined\") {\n    evb_sensors.barometer.altitude = {};\n}\nvalue = (msg.payload[index++] << 24) >> 16;\nvalue |= msg.payload[index++];\nvalue *= 10;\nevb_sensors.barometer.altitude.m = value;\n\n\n\n// 0 -> external power source\n// 1-254 -> baterry level, 1: min, 254:max\n// 255 -> not able to measure battery level\nvalue = msg.payload[index++];\nevb_sensors.battery = value;\n\nif (typeof(evb_sensors.gps) == \"undefined\") {\n    evb_sensors.gps = {};\n}\nvalue = (msg.payload[index++] << 24) >> 8;\nvalue |= msg.payload[index++] << 8;\nvalue |= msg.payload[index++];\nevb_sensors.gps.latitude = value;\n\nvalue = (msg.payload[index++] << 24) >> 8;\nvalue |= msg.payload[index++] << 8;\nvalue |= msg.payload[index++];\nevb_sensors.gps.longitude = value;\n\nvalue = (msg.payload[index++] << 24) >> 16;\nvalue |= msg.payload[index++];\nevb_sensors.gps.altitude = value;\n\n/*\nif (typeof(evb_info[msg.eui].m2x_device) == \"undefined\") {\n  console.log(\"No m2x_device registered for \" + msg.eui);\n//   return null;\n}\nif (typeof(evb_info[msg.eui].m2x_key) == \"undefined\") {\n  console.log(\"No m2x_key registered for \" + msg.eui);\n//   return null;\n}\nmsg.m2x_device = evb_info[msg.eui].m2x_device;\nmsg.m2x_key = evb_info[msg.eui].m2x_key;\n*/\nmsg.evb = evb_sensors;\n\n/*\n * Return msg to continue the flow\n */\nif (typeof msg.evb != \"undefined\"){\n  return msg;     \n}\n","outputs":1,"noerr":0,"x":343.88330078125,"y":337.8833312988281,"wires":[["da22de8f.a5c138"]]},{"id":"1a5536a4.874ac1","type":"switch","z":"4418d05b.edd888","name":"","property":"msg.data.fPort","propertyType":"jsonata","rules":[{"t":"regex","v":"\"^1|5$\"","vt":"jsonata","case":true},{"t":"eq","v":"2","vt":"num"}],"checkall":"true","outputs":2,"x":450.4499816894531,"y":495.48333740234375,"wires":[["2359cb05.4ae4fc"],["f9f2556e.e44dd8"]]},{"id":"f9f2556e.e44dd8","type":"subflow:9efb98f8.b849d","z":"4418d05b.edd888","name":"","x":614.449951171875,"y":551.4832763671875,"wires":[["2dcb2ded.958dea","8a53f070.37f41"]]},{"id":"2dcb2ded.958dea","type":"debug","z":"4418d05b.edd888","name":"","active":false,"console":"false","complete":"false","x":768.449951171875,"y":603.0833740234375,"wires":[]},{"id":"7f2fc931.4df0b","type":"debug","z":"4418d05b.edd888","name":"","active":false,"console":"false","complete":"false","x":837,"y":511,"wires":[]},{"id":"707e45b2.ce411c","type":"template","z":"3fed333e.7a9f5c","name":"influxdb","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{devEUI}}{{#rxInfo}},gateway={{mac}}{{/rxInfo}} a=0{{#rxInfo}},rssi={{rssi}}{{/rxInfo}}{{#payload.light}},light={{.}}{{/payload.light}}{{#payload.presure}},presure={{.}}{{/payload.presure}}{{#payload.temperature}},temp={{.}}{{/payload.temperature}}{{#payload.x_acc}},x_acc={{.}}{{/payload.x_acc}}{{#payload.y_acc}},y_acc={{.}}{{/payload.y_acc}}{{#payload.z_acc}},z_acc={{.}}{{/payload.z_acc}}{{#payload.co2}},co2={{.}}{{/payload.co2}}{{#payload.latitude}},latitude={{.}}{{/payload.latitude}}{{#payload.longitude}},longitude={{.}}{{/payload.longitude}}","x":540,"y":320,"wires":[["3d24808e.3d8cf","8b762452.ccdfb8"]]},{"id":"8b762452.ccdfb8","type":"http request","z":"3fed333e.7a9f5c","name":"","method":"POST","ret":"bin","url":"http://influxdb:8086/write?db=iot&u=influx&p=R8otSBcqK%2BRdYV5B","tls":"","x":719,"y":365,"wires":[["f1599c5e.80e47"]]},{"id":"f1599c5e.80e47","type":"debug","z":"3fed333e.7a9f5c","name":"","active":false,"console":"false","complete":"true","x":930,"y":300,"wires":[]},{"id":"3d24808e.3d8cf","type":"debug","z":"3fed333e.7a9f5c","name":"","active":true,"console":"false","complete":"false","x":728.5,"y":279,"wires":[]},{"id":"a8a95c5d.6c55c8","type":"mqtt in","z":"3fed333e.7a9f5c","name":"mbox","topic":"application/1/node/+/rx","qos":"0","broker":"3689e001.5fbb88","x":70,"y":300,"wires":[["a73d7830.e6d59"]]},{"id":"2829245b.5b9d64","type":"debug","z":"3fed333e.7a9f5c","name":"","active":false,"console":"false","complete":"true","x":510,"y":160,"wires":[]},{"id":"a3557105.b396b","type":"json","z":"917e1867.f0f93","name":"","pretty":false,"x":208,"y":301,"wires":[["7ef28175.0b3bb8"]]},{"id":"a73d7830.e6d59","type":"subflow:917e1867.f0f93","z":"3fed333e.7a9f5c","name":"","x":299.5,"y":202,"wires":[["707e45b2.ce411c","2829245b.5b9d64"]]},{"id":"7ef28175.0b3bb8","type":"function","z":"917e1867.f0f93","name":"Post xDotEtc Data","func":"//var mac=context.global.evb_info.macAddress;\nmsg = msg.payload;\n\nmsg.payload={\n    timestamp: msg.timestamp,\n    nanot: (new Date(msg.timestamp)).getTime() * 1E6,\n   // d: {\n    /*light: msg.evb_sensors.light.lux,\n    moisture:msg.object.barometer.pa, \n    temperature:(msg.object.temperature.c),\n    x_acc: msg.object.accelerometer.x,    \n    y_acc: msg.object.accelerometer.y,    \n    z_acc: msg.object.accelerometer.z*/\n    //}\n}\n\nif (msg.object.light !== undefined) {\n    msg.payload.light = msg.object.light.lux;\n}\n\nif (msg.object.co2 !== undefined) {\n    msg.payload.co2 = msg.object.co2.ppm;\n}\n\nif (msg.object.barometer !== undefined) {\n    msg.payload.presure = msg.object.barometer.pa;\n}\n\nif (msg.object.temperature !== undefined) {\n    msg.payload.temperature = msg.object.temperature.c;\n}\n\nif (msg.object.accelerometer !== undefined) {\n    msg.payload.x_acc = msg.object.accelerometer.x;\n    msg.payload.y_acc = msg.object.accelerometer.y;\n    msg.payload.z_acc = msg.object.accelerometer.z;\n\n}\n\n//if (context.global.evb_info[msg.eui].msg_counter == null){\n//    context.global.evb_info[msg.eui].msg_counter = 0;\n//}\n// iot-2/type/mosquitto/id/myDeviceId/evt/helloworld/fmt/json\n\n//msg.topic = \"iot-2/type/mosquitto/id/\" + \n//    mac + \n//    \"/evt/datapoint/\" + \n//    \"fmt/json\";\n\n//context.global.evb_info[msg.eui][\"msg_counter\"] += 1.0 ;\nreturn msg;\n","outputs":"1","noerr":0,"x":424,"y":269,"wires":[[]]}]